/**
*@author Stefan Ivanov
*/
.btn-3d {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #2196F3 0%, #03A9F4 100%),
            #1E88E5,
            #2196F3,
            radial-gradient(center 50% 50%, radius 100%, #42A5F5, #29B6F6);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.btn-3d:hover {
    -fx-cursor:hand;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #2196F3 0%, #03A9F4 100%),
            #1E88E5,
            #2196F3,
            radial-gradient(center 50% 50%, radius 100%, #64B5F6, #4FC3F7);
}
.btn-3d:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.text-field {
    /*-fx-padding: 30px;*/
    /*-fx-background-color: -fx-text-box-border, -fx-background ;*/
    /*-fx-background-insets: 0, 0 0 1 0 ;*/
    /*-fx-background-radius: 0 ;*/
}
.text-field:focused {
    /*-fx-background-color: -fx-focus-color, -fx-background ;*/
}